$gray-dark: #303134;
$gray: #4e4e4e;
$gray-light: #9b9b9b;
$gray-lighter: #e2dfdf;

$white: #fff;
$orange: #ff9719;

$font-color: $gray;
$warning-color: #d84f4d;

$app-background-color: #f9f8f8;

$border-radius: 6px;